<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Project Document</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Bell
    Theme URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="index.html"><img src="img/logo-nav.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Bell</a></h1>-->
      </div>

     
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="#about">About Us</a></li>          
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li class="menu-has-children"><a href="">TKU</a>
            <ul>
              <li><a href="/intro">Intro</a></li>              
              <li><a href="/pokemon">Pokemon</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/imagegallery">Image Gallery</a></li>
			  <li><a href="/div">Div</a></li>
			  <li><a href="/nav">Nav</a></li>
			  <li><a href="/myresume">My Resume</a></li>
			  <li><a href="/myclass">My Class</a></li>	  
            </ul>
          </li>
		   <li class="menu-has-children"><a href="">DB DEMO</a>
            <ul>
              <li><a href="/projectdoc">Project 說明</a></li>              
              <li><a href="/myprojects">My Projects</a></li>
              <li><a href="/statistics">My Dashboard</a></li>
              
            </ul>
          </li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->

      <nav class="nav social-nav pull-right d-none d-lg-inline">
        <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
      </nav>
    </div>
  </header>
  <!-- #header -->
  <!-- Page Content
    ================================================== -->
	<!-- Content Area Start -->
	
	<div class="imp-point">
	<div>	 
		
    <h2 class= 'doc-title text-center'>Project Documentation (Project 說明)</h2>
    <!-- Template Settings -->
	<h3 style="font-weight: 600; color: #3498db;">Template Settings</h3> <br>
		<p class="docquote">
    In this I am going to explain the process of my Final Project. First I am going to start with the template I have chosen. I have chosen the "Bell template". The template came with 
    offline bootstrap4 files. So I am not explaining the CSS and JavaScript linking here. They are already linked with the template.
		The template looks like this..
		</p>
		
		<div class="card ">
      <img src="img/projectdoc/template.JPG" alt="" class="card-top-image img-fluid col-md-9"> <br>
    </div>
	
		<p>It came with the Menu bar at the bottom. So i have edited the homepage html document to move the menu to the top. It is very simple. I just cut the header menu code and past at the 
      beginning of the body. the code looks like this.. (In the image you can see I just paste the content next to the body tag)
    </p>
    <div class="card ">
      <img src="img/projectdoc/menucode.JPG" alt=""  class="card-top-image col-md-9"> <br>
    </div>
		<hr>
		<p class="docquote">Now I need to link the Midterm files to this templete. For that I have created two dropdown menus. One is for Midterm links another one is dbdemo for database linking demo as 
      per the Final project requirement. The Menus looks as follows </p>
      <div class="card m-md-3">
        <img src="img/projectdoc/menus.jpg" alt="" class="card-top-image img-fluid col-md-9"> <br>
      </div>
    <p>
      The code for these menus is as follow..
    </p>
    <div class="card ">
      <img src="img/projectdoc/menudropdown.JPG" alt="" class="card-top-image col-md-9"> <br>
    </div>
    <p>I have already edited the link URLs at this time, And I will make the files with the same names so that they can directly get linked.</p><br><br>

    <hr> <br>
    <!-- Midterm Files Preparation -->
    <h3 style="font-weight: 600; color: #3498db;">Midterm Files Preparation</h3> <br>
		<p class="docquote">
    To create effective template with the menus. I have created a stencil with header and footer along with menus, so that I can copy and paste the code and make some adjustments 
    to css and JavaScript if required. 
    </p>
    <p>
    my stencil file looks like this... </p>
		
		<div class="card ">
      <img src="img/projectdoc/stencilpage.JPG" alt="" class="card-top-image col-md-9"> <br>
    </div>
	<p>Stencil file code</p>
  <div class="card ">
    <img src="img/projectdoc/stencilcode.JPG" alt="" class="card-top-image col-md-9"> <br>
  </div>
<hr>
  <p class="docquote"> I just copied the body code from html files and pasted on to the stencil page and saving the html files with corresponding names. For those html files having 
    css, and JavaScript, I have copied the code and pasted in the corresponding css and js files.
  </p>
  <p> For exmaple, the Div.html has JavaScript and CSS styling.</p>
  <p>the html code of the Div.html file is as follows..</p>
  <div class="card ">
    <img src="img/projectdoc/divhtmlcode.JPG" alt="" class="card-top-image img-fluid col-md-9"> <br>
  </div>
  <p>The JavaScript files code I have copied to the custom.js file. it is the JavaScript file linked to the template. So instead of adding many files I just added the code to one of 
    the existing files. White doing this you must be careful no two functions or ids cannot be same. So I have edited the names if there is any issue.
  </p>
<p>JavaScript for the Div File</p>
<div class="card ">
  <img src="img/projectdoc/divjavacode.JPG" alt="" class="card-top-image img-fluid col-md-9"> <br>
</div>
<p>The CSS also I have added to the main css file "Style.css", To avoid isses i have added tag names in both css and html codes</p>
<p>
  The CSS code for the Div File
</p>


<div class="docquote"><p>In the same way I have prepared all the html files of the Midterm exam </p></div>
<hr>
<!-- Template files linking -->
<h3 style="font-weight: 600; color: #3498db;">Preparing Final Project</h3> <br>

<p>My Midterm files are ready now. Now I am preparing my Final Project files. As per teacher's requirement the file name must be 1081-P2-myID. So I have created a project with the 
  same name "1081-P2-406735034", and also installed the required dependencies using the following codes..
</p>
<div class="card"><div class="card-body">
  <p class="doccode" "> &nbsp express &nbsp&nbsp --view=ejs &nbsp&nbsp 1081-P2-406735034 &nbsp <br>
     &nbsp npm  &nbsp&nbsp install &nbsp  <br>
     &nbsp npm  &nbsp&nbsp nodemon &nbsp  <br>    
     &nbsp npm  &nbsp&nbsp mysql2 &nbsp  <br>
     &nbsp npm  &nbsp&nbsp moment &nbsp </p> <br>

     <p>And I have edited the package.json file to work with nodemon. I have changed the name "nod"  to "nodemon"</p>  
     <img src="img/projectdoc/packagejson.JPG" alt="" class="card-top-image img-fluid"> <br> <br>
     <p style="font-weight: 500;">Now I am ready to start the server using the code <br>
       <p class="doccode">&nbsp npm  &nbsp&nbsp start &nbsp</p>  </p>    
</div></div>
<br> <hr>
<!-- Adding And Linking Midterm Files -->
<h3 style="font-weight: 600; color: #3498db;">Adding and Linking Midterm Files </h3> <br>
  <p class="docquote"> Now I have successfully set up my project file and now ready to copy files and start linking  </p>
<p>For that I have copied all the files (Midterm files and Template files) to the "Public" folder in the Project directory</p>

<div class="card"><div class="card-body">
  <img src="img/projectdoc/files.JPG" alt="" srcset="">
</div></div>
<br>
<p>Now, I have moved all the html files to the views directory, and rename them to " .ejs " </p><br>
<div class="card"><div class="card-body">
  <img src="img/projectdoc/ejsfiles.JPG" alt="" srcset="">
</div></div> <br>

<p class="docquote">Now my files are ready, I need to link the files. </p>
    
<p>I have used index router to link the files. for demo purpose I have created another router called bellRouter. But I have used this for demo purpose only. <br></p>

<div class="card">
  <div class="card-body">
    <p class="docquote">The app.js codes to create router</p>
    <img src="img/projectdoc/appjs.JPG" alt="" class="card-top-image img-fluid"> <br> <br>
    <p class="docquote">The bell.js code to create router. I have created a bell.js file in the routes folder to route the ejs files. The code as follows.</p>
    <img src="img/projectdoc/belljs.JPG" alt="" class="card-top-image img-fluid"> <br> 
    <p> This files lets fetch the bell.ejs file when a request for "/bell" </p><br>
    <p>The remaining roytes I have created in the index router.</p> <br>
    <p class="docquote">The bell.js code to create router. I have created a bell.js file in the routes folder to route the ejs files. The code as follows.</p>
    <img src="img/projectdoc/midtermroutes.JPG" alt="" class="card-top-image img-fluid"> <br>
    <p>In the same way I have linked all the Midterm files in the index.js router file</p> <br>
  </div>
</div>
<hr>
  <!-- My Projects file -->
<h3 style="font-weight: 600; color: #3498db;"> Portfolio (My Projects) page Creation </h3> <br> 
<p class="docquote"> For this, I have selected and copied a portfolio from other page on to the stencil page. I have also copied related js and css files.
  <br> For the card display I have captured preview page screenshots and for some I have downloaded pics.  </p>
  <p>The page looks like this.. </p>
  <img src="img/projectdoc/myprojects.JPG" alt="" class="card-top-image img-fluid"> <br> <br>
  <p>This portfolio model will become red color on hover and shows titles, and on click it will be redirected to the corresponding page.</p>

  <p class="doccode">But the details must be retrieved from database. for this we need to create a database.</p><br>
  <h3 style="font-weight: 600; color: #3498db;"> Database Creation </h3> <br> 
  <p class="docquote">I have created a database as per project requirement. The name is "1081-1b". I have created two tables. One is for 
    My Projects, and other is for the Table the 3rd part of the DBDemo menu.
  </p>

  <div class="card"><div class="card-body">
    <p> Database looks like this</p><br>
    <img src="img/projectdoc/database.JPG" alt="" class="card-top-image img-fluid"> <br> 
    <img src="img/projectdoc/database1.JPG" alt="" class="card-top-image img-fluid"> <br> <br>

    <h3 style="font-weight: 600; color: #3498db;"> Database.js </h3> <br> 
    <p class="docquote">Database.js for linking with the Database. For this I have created a folder called "utils" and database.js in that folder.
        </p>
      <p>The code is as follows..</p>
    <img src="img/projectdoc/databasejs.JPG" alt="" class="card-top-image img-fluid"> <br> <br>
  </div>
</div>
<div class="card"><div class="card-body">
 

  <h3 style="font-weight: 600; color: #3498db;"> myProjectsModel.js </h3>  
  <p class="docquote">To export the data from database we need a model file. For this I have created a folder called "models" and myProjectsModel.js in that folder.
      </p>
    <p>The code is as follows..</p>
  <img src="img/projectdoc/myProjectsModel.jpg" alt="" class="card-top-image img-fluid"> <br> <br>

  <h3 style="font-weight: 600; color: #3498db;"> myprojectsController.js </h3> 
  <p class="docquote">To render the data to the website we need a controller. For this I have created a folder called "models" and myProjectsController.js in that folder.
      </p>
    <p>The code is as follows..</p>
  <img src="img/projectdoc/myProjectsController.jpg" alt="" class="card-top-image img-fluid"> <br> <br>
  

  <h3 style="font-weight: 600; color: #3498db;"> Linking data to router </h3> 
  <p class="docquote">We need to transfer the data to router to fetch on the website. 
      </p>
    <p>The code is as follows..</p>
  <img src="img/projectdoc/routerlink.jpg" alt="" class="card-top-image img-fluid"> <br> <br>


  <h3 style="font-weight: 600; color: #3498db;"> Adding code to the website  </h3> 
  <p class="docquote">To get the data we need to add code to the webpage. 
      </p>
    <p>The code is as follows..</p>
  <img src="img/projectdoc/webpagecode.jpg" alt="" class="card-top-image img-fluid"> <br> <br>

  <p class="doccode">Now we all done! The webpage is working! For demo purpose I have added code on My Resume Page also. I have retrieved the menu using the code</p>
  <p>The code is as follows..</p>
  <img src="img/projectdoc/myresumecode.jpg" alt="" class="card-top-image img-fluid"> <br> <br>

  <h3 style="font-weight: 600; color: #3498db;"> Table Display </h3> 
  <p class="docquote">Table view template: I have created a simple statistics table and dashboard icons to show count. 
      </p>
    <p style="font-weight: 600;">The  Table view html code is as follows..</p>
  <img src="img/projectdoc/stats1.jpg" alt="" class="card-top-image img-fluid"> 
  <img src="img/projectdoc/stats2.jpg" alt="" class="card-top-image img-fluid"> 
  <br> <br>
  <h3 style="font-weight: 600; color: #3498db;"> Table Database </h3> 
  <p class="docquote">This data is retrieved from the second table in the database.
      </p>
    <p>The data is as follows..</p>
  <img src="img/projectdoc/tabledb.jpg" alt="" class="card-top-image img-fluid">
  <br> <br>

  <h3 style="font-weight: 600; color: #3498db;"> Table Model (statisticsModel.js) </h3> 
  <p class="docquote">the secon Model file
      </p>
    <p>The code is as follows..</p>
  <img src="img/projectdoc/statsmodel.jpg" alt="" class="card-top-image img-fluid">
  <br> <br>

  <h3 style="font-weight: 600; color: #3498db;"> Table Controller (myProjectsController.js) </h3> 
  <p class="docquote">We are using the single controller to both models.
      </p>
    <p>The code is as follows..</p>
  <img src="img/projectdoc/statscontroller1.jpg" alt="" class="card-top-image img-fluid">
  <img src="img/projectdoc/statscontroller2.jpg" alt="" class="card-top-image img-fluid">
  <br> <br>

  <h3 style="font-weight: 600; color: #3498db;"> Index Router Setting </h3> 
  <p class="docquote">the router for the second table data.
      </p>
    <p>The code is as follows..</p>
  <img src="img/projectdoc/statsrouter.jpg" alt="" class="card-top-image img-fluid">
  <br> <br>

  <h3 style="font-weight: 600; color: #3498db;"> Result of the Table View </h3> 
  <p class="docquote">This is the final output of the table view file
      </p>
    <img src="img/projectdoc/statsresult.jpg" alt="" class="card-top-image img-fluid">
  <br> <br>
  </div>
</div>

<h3 class= 'text-center' style="font-weight: 800;">*** End of the Document ***</h3>
<h2 class= 'doc-title text-center'>Thank You</h2>

  

</div>
	
	<!-- <hr> -->
	
	
</div>
	<!-- Content Area End -->
  
  <!-- @component: footer -->

  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-left text-center">
            <p class="copyright-text">
              © 丁陽 406735034 教育科技系 三A
            </p>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bell
              -->
              <a href="https://bootstrapmade.com/">期末作業</a> by 丁陽
            </div>
          </div>

          

        </div>
      </div>
    </div>
  </footer>
  <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>


  <!-- Required JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/tether/js/tether.min.js"></script>
  <script src="lib/stellar/stellar.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/easing/easing.js"></script>
  <script src="lib/stickyjs/sticky.js"></script>
  <script src="lib/parallax/parallax.js"></script>
  <script src="lib/lockfixed/lockfixed.min.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="js/custom.js"></script>

  <script src="contactform/contactform.js"></script>

</body>
</html>
